body {
    margin: 0;
    background: url("../img/fon1.jpg");
}
.card {
    width: 400px;
    background-color:rgba(186, 110, 216, 0) ;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
    padding: 20px;
    left: auto;
}
.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}
.card-title {
    font-size: 20px;
    text-align: center;
    color: #000;
}
.table1 {
    border-spacing: 0px;
    margin: 15px 0;
}
/*.number-phone {
    width: 400px;
    background-color:rgba(186, 110, 216, 0) ;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
    padding: 20px;
    left: auto;
}*/
.name1 {
    margin-right: 30%;
    
}
.phone-name {
    display: inline;
    margin: auto;
    float: left;
}
.number-phone {
    margin-top: 15px ;
    margin-bottom: 20px;
}
.phone-name1 {
    display: inline;
    margin-left: 120px;
    margin-top: 50px;
}
.input-values {
    margin-bottom: 100px;
    margin-top: 10px;
}
.btn {
    margin-bottom: 30px;
    border: 0;
    font-size: large;
    font: bold;
    cursor: pointer;
    color: royalblue;
  }
  
  .content {
    /*margin: 1px;*/
    padding: 20px;
    border: 0;
    border-radius: 4px;
    font-family: Calibri, "Trebuchet MS", sans-serif;
    margin-left: 0;
  }
  
  .hidden {
    display: none;
  }
  








